<div class="alert alert-primary" role="alert">
    <h4>
           ĐỔI MẬT KHẨU
    </h4>
    <hr style="margin: 0px 0px 0px 4.5%;border-color: lightgrey;width: 90%;">
</div>
    <div class="all">  
        <h3 style="width:50%;margin: 5px auto;color: chocolate;margin-bottom: 10px;">Nhập mật khẩu mới của bạn</h3>
        <form>
            <div class="form-group" style="width:50%;margin: 0px auto">
                    <input type="password" class="form-control" [(ngModel)]='user.password' id="inputEmail4" placeholder="******" style="margin-bottom: 17px;">
                    <button class="btn btn-success" (click)="sua()">Cập nhật</button>                   
                    <a [routerLink]="['/cotact']" class="fb"> Cần hổ trợ ? </a>
            </div>                                                 
        </form>
        
    </div>  


  
