<div class="container" style="margin-bottom: 10px">
    <img src="https://img.scoop.it/-LJXYR6un2JyIEz4q-mrV4XXXL4j3HpexhjNOf_P3YmryPKwJ94QGRtDb3Sbc6KY" width="100%" height="50px" style="margin-top: 20px"> 
        <h3 style="color: royalblue"> Góp ý - Hỏi đáp ? </h3>   
            <div class="row">
                <article class="col-8">

                 <label for="email">Email góp ý: <a href="https://mail.google.com/mail/u/0/"> hungngan185&#64;gmail.com </a> </label>      
                  <form class="form-inline my-2 my-lg-0" style="float: right">
                     <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" width="100%" style=" margin: 0px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>

                 <div class="alert alert-secondary" role="alert" style="size: 40px; margin-top: 40px;font-weight: bold    ">
                    Vui lòng góp ý của bạn theo form sau:
                 </div>
                    Những vị trí có dấu (<em class="star">*</em>) là bắt buộc phải có.
                    <hr>
                    <form style="font-weight: bold;color:#006400">                            
                        <div class="form-group row">
                            <label for="text" class="col-sm-2 col-form-label">Họ và tên <em class="star">*</em></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  placeholder="Họ và tên">
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="text" class="col-sm-2 col-form-label">Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  placeholder="Địa chỉ">
                        </div>

                        </div>
                        <div class="form-group row" style="margin-bottom:0px ">
                                <label for="text" class="col-sm-2 col-form-label" >Số điện thoại <em class="star">*</em></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Số điện thoại">
                                    </div>
                        </div>
                            <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">Email <em class="star">*</em></label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control"  placeholder="Email">
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Nội dung góp ý <em class="star">*</em></label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" placeholder="Nhập nội dung"></textarea>
                                            </div>
                                </div>
                                <div class="bt">
                                    <button type="reset" class="btn btn-primary" value="reset" name="reset" style="margin: 0px 50px 0px 125px">Nhập lại</button>
                                    <button type="submit" class="btn btn-success" value="submit" name="submit">Gửi đi</button>
                                </div>    
                    </form>
                </article> <!--end article-->
                <div class="map col-lg-4 col-sm-3">
                        <h3>BẠN CÓ THỂ ĐẾN TRỰC TIẾP ĐỊA CHỈ NÀY</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.47750767605!2d106.63214551417177!3d10.774692562173467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ea168a65c0b%3A0x2a4a7dc43e177de1!2zMTIgVHLhu4tuaCDEkMOsbmggVGjhuqNvLCBIb8OgIFRoYW5oLCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1573229200827!5m2!1svi!2s" 
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
        </div><!--end row-->
</div>  <!--end container-->