<div class="alert alert-primary" role="alert" style="background-color:lightgrey;color: gray bold ;border-radius: 0px">
        <h4 style="text-align: center">
                Đăng ký tài khoản
        </h4>
</div>
    <div class="row">
        <div class="col-6" style="margin-left: 20px">
            <h4>Thông tin tài khoản</h4>
            <form>
                <div class="form-group">
                    <label for="inputEmail4">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nhập Email">
                </div>
    
                <div class="form-group">
                        <label for="inputEmail4">Mật Khẩu</label>
                        <input type="password" class="form-control" id="inputEmail4" placeholder="******" style="margin-bottom: 17px">
                        <label for="inputEmail4">Xác Mật nhận mật khẩu </label> 
                        <input type="password" class="form-control" id="inputEmail4" placeholder="******" style="margin-bottom: 17px">

                        <a class="dangky" href="#"><input type="submit" class="btn btn-primary" value="Đăng ký tài khoản" name="Đăng ký tài khoản" style="width:100%;background-color:hsl(147, 50%, 47%)"></a>
                    <a href="#">
                        <button type="button" class="btn btn-primary" value="Đăng nhập facebook" style="width:100%;margin:17px 0px"> Đăng ký bằng facebook </button>                    
                    </a>               
                    <a href="#" class="fb"> Cần hổ trợ ? </a>
                </div>                                                 
            </form>   
        </div>
        <div class="col-5 " style="margin-left:60px">
                <h4>Thông tin cá nhân</h4>  
                <label for="inputEmail4">Họ và tên</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nhập họ và tên" style="margin-bottom:17px ">
                <label for="inputEmail4">Số điện thoại</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nhập số điện thoại">              
        </div>
    </div>
    
    
    