h6
{
    font-weight: bold;
    margin: 0px !important;
    padding: 7px 17px;
    background-color: lightgray;
}
.radio
{
    padding: 10px 0px 15px 30px;
    border:1px solid grey;
}
.panel-title
{
    color:black;
    padding: 10px 0px 0px 15px;
    border:1px solid lightgrey;
    margin: 0px;
}
.marks
{
    background-color: lightgrey;
    border:1px solid lightgrey;
    padding: 5px 0px 5px 12px;
}