<div class="row" style="margin-top: 15px">
    <article class="col-8">
        <div class="building">
             
            <h6><span class="glyphicon glyphicon-th-list"></span>XÂY DỰNG TRANG WEB</h6>
            <div class="radio">
                1. Trong kĩ thuật chỉnh nâng cao có những kĩ thuật nào ?
                <span class="badge badge-secondary" style="margin-left:235px;background-color: blue">0.6</span>
                <hr>
                <form action="/action_page.php">
                 <input type="radio" name="options" id="option3" autocomplete="off"> Đối xứng<br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Bẻ văn bản <br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Khối văn bản <br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Không đối xứng
                </form>
            </div>
            <div class="marks">
                MARKS: 0/80
            </div>
        </div>
 </article> <!--end article-->

<aside class="col-4" style="border:1px solid lightgrey;padding:0px ;" >   
  <div class="border">
    <h3 style="padding:10px 0px 10px 20px;background-color:grey;margin: 0px;color: white;"> <i class="fa fa-th-list" aria-hidden="true"></i> DANH  MỤC</h3>
  </div>          
                  <div class="list-group">
                      <a href = "#" class = "list-group-item list-group-item-action" >
                        kiểm thử và triển khai
                      </a>
                      <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                  </div> <!--end list-->
</aside> <!--end asdie-->
</div>
<div class="row" style="margin-top: 15px">
    <article class="col-8">
        <div class="building">
             
            <h6><span class="glyphicon glyphicon-th-list"></span>XÂY DỰNG TRANG WEB</h6>
            <div class="radio">
                1. Trong kĩ thuật chỉnh nâng cao có những kĩ thuật nào ?
                <span class="badge badge-secondary" style="margin-left:235px;background-color: blue">0.6</span>
                <hr>
                <form action="/action_page.php">
                 <input type="radio" name="options" id="option3" autocomplete="off"> Đối xứng<br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Bẻ văn bản <br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Khối văn bản <br>
                 <input type="radio" name="options" id="option3" autocomplete="off"> Không đối xứng
                </form>
            </div>
            <div class="marks">
                MARKS: 0/80
            </div>
        </div>
 </article> <!--end article-->

<aside class="col-4" style="border:1px solid lightgrey;padding:0px ;" >   
  <div class="border">
    <h3 style="padding:10px 0px 10px 20px;background-color:grey;margin: 0px;color: white;"> <i class="fa fa-th-list" aria-hidden="true"></i> DANH  MỤC</h3>
  </div>          
                  <div class="list-group">
                      <a href = "#" class = "list-group-item list-group-item-action" >
                        kiểm thử và triển khai
                      </a>
                      <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                  </div> <!--end list-->
</aside> <!--end asdie-->
</div>
