<div class="alert alert-primary" role="alert">
    <h4>
        ĐĂNG NHẬP
    </h4>
    <hr style="margin: 0px 0px 0px 4.5%;border-color: lightgrey;width: 

90%;">
</div>
<div class="all">
    <form #formdangnhap="ngForm" (ngSubmit)="submit

(formdangnhap)" style="width:50%;margin: 0px auto">
        <div class="form-group ">
            <label> Username</label>
            <input type="email" class="form-control"   name = "email" [(ngModel)]="email" required>
        </div>

        <div class="form-group">
            <label>Mật Khẩu</label>
            <input type="password" class="form-control" style="margin-bottom: 17px" 
            [(ngModel)]="password" name ="password" required>
            <div class="ip">
                <input type="submit" class="btn btn-success" value="ĐĂNG NHẬP" 
                name="ĐĂNG NHẬP" style="display: inline-block;"(click)='loGin()' required >
         
                <a href="https://www.facebook.com/">
                    <button type="button" class="btn btn-success" 
                    value="ĐĂNG NHẬP BẰNG FACEBOOK" style="margin:17px 20px;">
                        ĐĂNG NHẬP BẰNG FACEBOOK </button>
                </a>
            </div>
            <a [routerLink]="['/createacc']" class="fb">Tạo tài khoản</a>


            <a [routerLink]="['/forgot']" class="fb">Quên mật khẩu</a>
            <a [routerLink]="['/cotact']" class="fb"> Cần hổ trợ ? </a>
        </div>
    </form>
</div>