<div class="container" style="margin-bottom: 10px">
    <img src="https://img.scoop.it/-LJXYR6un2JyIEz4q-mrV4XXXL4j3HpexhjNOf_P3YmryPKwJ94QGRtDb3Sbc6KY" width="100%" height="50px" style="margin-top: 20px"> 
        <a href="#"  > <h3 style="color: royalblue"> Góp ý - Hỏi đáp ? </h3> </a>
            <div class="row">
                <article class="col-8">

                 <label for="email">Email góp ý: <a href="https://mail.google.com/mail/u/0/"> hungngan185&#64;gmail.com </a> </label>      
                  <form class="form-inline my-2 my-lg-0" style="float: right">
                     <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" width="100%" style=" margin: 0px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>

                 <div class="alert alert-secondary" role="alert" style="size: 40px; margin-top: 40px;font-weight: bold    ">
                    Vui lòng góp ý của bạn theo form sau:
                 </div>
                    Những vị trí có dấu (<em class="star">*</em>) là bắt buộc phải có.
                    <hr>
                    <form style="font-weight: bold;color:#006400">                            
                        <div class="form-group row">
                            <label for="text" class="col-sm-2 col-form-label">Họ và tên <em class="star">*</em></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  placeholder="Họ và tên">
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="text" class="col-sm-2 col-form-label">Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  placeholder="Địa chỉ">
                        </div>

                        </div>
                        <div class="form-group row" style="margin-bottom:0px ">
                                <label for="text" class="col-sm-2 col-form-label" >Số điện thoại <em class="star">*</em></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Số điện thoại">
                                    </div>
                        </div>
                            <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">Email <em class="star">*</em></label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control"  placeholder="Email">
                                        </div>
                                </div>
                                <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Nội dung góp ý <em class="star">*</em></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" style="height: 150px;border-radius: 0px"  placeholder="Nội dung...">
                                            </div>
                                </div>
                                    <button type="reset" class="btn btn-secondary" value="reset" name="reset" style="margin: 0px 50px 0px 120px">Reset</button>
                                    <button type="submit" class="btn btn-primary" value="submit" name="submit">Gửi đi</button>
                    </form>
                </article> <!--end article-->

                <aside class="col-4" style="padding:0px">   
                    <h4 class="border" style="margin: 0px;background-color: grey;color: white;font-weight: bold;padding: 10px;">HƯỚNG DẪN</h4>
                                    <div class="list-group">
                                        <a href = "#" class = "list-group-item list-group-item-action" >
                                          kiểm thử và triển khai
                                        </a>
                                        <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                                        <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                                    </div> <!--end list-->
                  </aside> <!--end asdie-->
        </div><!--end row-->
</div>  <!--end container-->