<div class="row" style="margin-top: 15px">
    <article class="col-8" onload="TimeCounter()">
      <div class="card">
        <div class="card-header"><i class="fas fa-th-list"></i> <b> XÂY DỰNG TRANG WEB</b>
        <span id="time-count" class="badge badge-pill badge-primary float-right p-2">Thời gian: </span>
        </div>
        <div class="card-body">
            <p>1. Trong kỹ thuật chỉnh nâng cao có những kỹ thuật nào?</p> 
            <hr class="my-3">
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="test" id="" value="checkedValue" checked>
                Đối xứng
                </label>
            </div> 
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="test" id="" value="checkedValue" >
                Bẻ văn bản
                </label>
            </div> 
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="test" id="" value="checkedValue" >
                Khối văn bản
                </label>
            </div> 
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="test" id="" value="checkedValue" >
                Không đối xứng
                </label>
            </div>           
            
        
        </div>
        <div class="card-header">Mark 1/10</div>
    </div>

 </article> <!--end article-->

<aside class="col-4" style="border:1px solid lightgrey;padding:0px ;" >   
  <div class="border">
    <h3 style="padding:10px 0px 10px 20px;background-color:grey;margin: 0px;color: white;"> <i class="fa fa-th-list" aria-hidden="true"></i> DANH  MỤC</h3>
  </div>          
                  <div class="list-group">
                      <a href = "#" class = "list-group-item list-group-item-action" >
                        kiểm thử và triển khai
                      </a>
                      <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                      <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                  </div> <!--end list-->
</aside> <!--end asdie-->
</div>
