<div class="row" style="margin-top: 10px;">
    <div class="col-8" style="padding: 0px">
            <div class="row" style="margin:10px 0px 0px ">
                    <div class="col-4" id="home" style="padding-left: 30px">
                        <h4>Giới thiệu về trường mình !</h4>
                      <p>Trường Cao đẳng Công nghệ Thông tin Thành phố Hồ Chí Minh được thành lập theo Quyết định số 2054/QĐ-BGD&ĐT-TCCB ngày 27/04/2001 của Bộ trưởng Bộ Giáo dục & Đào tạo.</p>
                        <img src="http://www.itc.edu.vn/uploads/5/cao-dang-cong-nghe-thong-tin-itceduvn.jpg" width="100%" >
                    </div>
            
                    <div class="col-4" id="home" style="margin-top: 25px">
                      <h4>Thi trắc nghiệm là gì?</h4>
                        <p>Tuỳ theo quan niệm của mỗi người mà có những câu trả lời khác nhau, nhưng xét một cách tổng quát thì:</p>
                          <span>“ Trắc nghiệm là một phép lượng giá cụ thể ở mức độ, khả năng thể hiện hành vi trong lĩnh vực nào đó”.</span>
                            <p>- Trắc nghiệm bao gồm 3 loại: loại quan sát, loại vấn đáp và loại viết.</p>
                          <img src="https://ichef.bbci.co.uk/images/ic/1280xn/p074mh5t.jpg" width="100%">
                    </div>
            
                    <div class="col-4" id="home"  style="margin-top: 50px">
                        <h4>Hướng dẫn thi trắc nghiệm trên máy tính ?
                        </h4>
                        <img src="http://i.imgur.com/CzS2pGG.jpg" width="100%">
                          <a href="#"> <p>1. Đề thi và cấu trúc đề thi</p></a>
                          <a href="#">  <p>2. Các chú ý</p></a>
                         <a href="#">   <p>3. Các bước thi </p></a>                        
                             <a href="#"><p>4. Kết luận đề thi</p></a>
                    </div>
            </div> <!--end row-->
    </div>

    <aside class="col-4" style="float: right">   
        <div class="border">
          <h3 style="padding:2px 4px  0px 20px;background-color:grey;margin: 0px;color: white;"><i class="fa fa-address-card" aria-hidden="true" style="margin-right: 4px"></i>GIỚI THIỆU</h3>
        </div>          
                        <div class="list-group">
                            <a href = "#" class = "list-group-item list-group-item-action" >
                              kiểm thử và triển khai
                            </a>
                            <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                        </div> <!--end list-->
    </aside> <!--end asdie-->
</div>