<div class="container" style="padding:0px;">
  <img src="./assets/images/banner.png" width="100%" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px" >      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" style="margin-left: 20px;">
               <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i>TRANG CHỦ<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/introduce']"><i class="fa fa-users" aria-hidden="true"></i>GIỚI THIỆU <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  [routerLink]="['/contact']"><i class="fa fa-phone-square" aria-hidden="true"></i>LIÊN HỆ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  [routerLink]="['/feedback']"><i class="fa fa-envelope-open" aria-hidden="true"></i>GÓP Ý<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" style="margin-right:220px">
            <a class="nav-link"  [routerLink]="['/question']"><i class="fa fa-question-circle" aria-hidden="true"></i>HỎI ĐÁP<span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item dropdownnav-item dropdown" id="taikhoan" style="margin-left: 100px;">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <button *ngFor="let tk of taikhoan"  type="button" class="btn btn-success" style="color:white;font-weight: bold;margin-top: -3px">
                <i class="fa fa-user-circle" aria-hidden="true"></i>{{tk.username}}
              </button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  [routerLink]="['/login']">ĐĂNG NHẬP</a>
              <a class="dropdown-item"  [routerLink]="['/createacc']">ĐĂNG KÝ</a>
              <a class="dropdown-item" [routerLink]="['/changepass']">ĐỔI MẬT KHẨU</a>
              <a class="dropdown-item" [routerLink]="['/forgot']">QUÊN MẬT KHẨU</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  [routerLink]="['/updateacc']">SỬA ĐỔI TÀI KHOẢN</a>
            </div>
          </li>
          
        </ul> <!--end ul-->
      
      </div> <!--end nav small-->
    </nav> <!--end nav big-->
    <marquee  behavior="SCROLL" scrolldelay="100" scrollamount="10" onmouseover="this.stop()" onmouseout="this.start()" direction="left">
       Chào mừng bạn đến với trang web của chúng tôi !</marquee>
<router-outlet></router-outlet>
<footer id="ft" class="row" >
<div class="col-4">
  <h6>XU HƯỚNG TRẮC NGHIỆM KHÁCH QUAN</h6>
    <ul>
      <li>Khảo sát được số lượng lớn thí sinh</li>
      <li>Kết quả nhanh</li>
      <li>Điểm số đáng tin cậy</li>
      <li>Công bằng, chính xác, vô tư</li>
      <li>Ngăn ngừa "học tủ"</li>
    </ul>
</div>

<div class="col-4" >
<h6 >MỌI THẮC MẮC XN LIÊN HỆ</h6>
  <p style="opacity: 0.9;"> Địa chỉ: 12 Trịnh Đình Thảo, Tân Bình, TPHCM<p>
<p>  <i class="fa fa-phone-square" aria-hidden="true"></i>: 0368010***<p>
</div>

<div class="col-4">
<h6 style="text-align: center" >BẢN QUYỀN &copy;</h6>
  <p style="text-align: center"> Bản quyền thuộc quyền sở hữu của chúng tôi <br>
  </p>
    <img style="float: right" src="./assets/images/copy.png" width="20%">
    
  </div>  
</footer> <!--end footer-->
<hr class="hr1">
<p class="first-p">copyright&copy;hungngan185&#64;gmail.com</p>
</div> <!--end container-->
