<div class="intro">
  <p class="p-first">
    Hiện nay, phương án <b>thi trắc nghiệm</b> đã được triển khai rộng rãi trong giáo dục theo chỉ đạo của Bộ giáo dục và đào tạo. Được bộ giáo dục xem đây là phương pháp thi hiện đại, đánh giá được tổng quát toàn bộ kiến thức của người học. Song, việc ứng dụng CNTT trong việc ra đề thi của giáo viên và làm bài của học sinh chưa thực sự được chú trọng.
  </p>
<div class="row" style="margin-top: 10px;">
    <div class="col-8" style="padding: 0px;">
            <div class="row" style="margin:10px 0px 0px ">
                    <div class="col-4" id="home" style="padding-left: 30px">
                        <h4>Giới thiệu về trường mình !</h4>
                      <p>Trường Cao đẳng Công nghệ Thông tin Thành phố Hồ Chí Minh được thành lập theo Quyết định số 2054/QĐ-BGD&ĐT-TCCB ngày 27/04/2001 của Bộ trưởng Bộ Giáo dục & Đào tạo.</p>
                        <img src="http://www.itc.edu.vn/uploads/5/cao-dang-cong-nghe-thong-tin-itceduvn.jpg" width="100%" >
                    </div>
            
                    <div class="col-4" id="home" style="margin-top: 25px">
                      <h4>Thi trắc nghiệm là gì?</h4>
                        <p>Tuỳ theo quan niệm của mỗi người mà có những câu trả lời khác nhau, nhưng xét một cách tổng quát thì:</p>
                        <img src="https://ichef.bbci.co.uk/images/ic/1280xn/p074mh5t.jpg" width="100%">
                          <span>“ Trắc nghiệm là một phép lượng giá cụ thể ở mức độ, khả năng thể hiện hành vi trong lĩnh vực nào đó”.</span>
                            <p>- Trắc nghiệm bao gồm 3 loại: loại quan sát, loại vấn đáp và loại viết.</p>
                    </div>
            
                    <div class="col-4" id="home"  style="margin-top: 50px">
                        <h4>Hướng dẫn thi trắc nghiệm trên máy tính ?
                        </h4>
                        <img src="http://i.imgur.com/CzS2pGG.jpg" width="100%">
                          <a href="#"> <p>1. Đề thi và cấu trúc đề thi</p></a>
                          <a href="#">  <p>2. Các chú ý</p></a>
                         <a href="#">   <p>3. Các bước thi </p></a>                        
                             <a href="#"><p>4. Kết luận đề thi</p></a>
                    </div>
            </div> <!--end row-->
    </div>

    <aside class="col-4" style="float: right">   
        <div class="border">
          <h3>
            <i class="fa fa-address-card" aria-hidden="true" style="margin-right: 4px"></i>GIỚI THIỆU
          </h3>
        </div>          
                        <div class="list-group">
                            <a href = "#" class = "list-group-item list-group-item-action" >
                              Kiểm thử và triển khai
                            </a>
                            <a href = "#" class = "list-group-item list-group-item-action">SQL Server</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Điện toán đảm bảo</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh PHP</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android nâng cao</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trịnh Android cơ bản</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Thiết kế giao diện trên Adroid</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Quản lý dự án với Agile</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Internet Marketing</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trình hướng đối tượng với java</a>
                            <a href = "#" class = "list-group-item list-group-item-action">Lập trình ASP.NET</a>
                        </div> <!--end list-->
    </aside> <!--end asdie-->
      <p class="p-second" style="padding: 10px 40px;">
        <span>ONLINE TRAINING</span> là hệ thống cung cấp website trắc nghiệm trực tuyến cho các cá nhân, tổ chức có nhu cầu cung cấp các đề thi trực tuyến cho người học...
         Với <span>ONLINE TRAINING</span> , người dùng có thể dễ dàng tạo lập cho mình một website tổ chức ôn tập, <em>thi trắc nghiệm trực tuyến </em> hoàn toàn miễn phí, mà không cần quan tâm đến các vấn đề kỹ thuật. Mỗi website có thể cá nhân hóa tối đa cho người làm chủ, có thể sử dụng tên miền riêng, giao diện, logo riêng,...., giúp chủ site có thể nhanh chóng tạo ra thương hiệu riêng.
      </p>
      <p style="padding: 10px 40px;">
          <span style="font-size: 21px;font-weight: bold;">Hệ thống thi trắc nghiệm online, người bạn của mọi giáo viên.</span> <br>
              Ngày nay, với sự phát triển của công nghệ, các thiết bị hiện đại được sử dụng với mong muốn đem lại cho con người những sự cải tiến vượt bậc.
              Là hình thức đã và đang ngày càng lan rộng quy mô sử dụng, hệ thống thi trắc nghiệm online được đánh giá cao với tính ứng dụng và tiện lợi của mình.
              Với ưu điểm tuyệt đối là sử dụng hệ thống thuật toán tin học, toán học để đảm bảo tuyệt đối tính chính xác, khách quan, giảm bớt các tác động từ bên ngoài, tránh các yếu tố tiêu cực trong thi cử, hệ thống thi trắc nghiệm online thực sự là bước tiến của thời đại.<br>
              Hệ thống này dường như có lợi với mọi đối tượng liên quan, trong bài viết hôm nay, cùng với Công ty TNHH Giải pháp và dịch vụ đào tạo trực tuyến DES sẽ chứng minh cho bạn thấy, hệ thống thi trắc nghiệm trực tuyến thực sự là người bạn của mọi giáo viên.
              
      </p>
      <ul style="display:block;list-style-type: none;">
          <li>Tạo đề thi theo nhóm và chủ đề, không giới hạn</li>
          <li>Nhập đề thi từ Microsoft Word</li>
          <li>Phân quyền quản lý thư viện đề thi</li>
          <li>Phân quyền thành viên tham gia làm bài</li>
          <li>Tạo đề thi Tự luyện, hoặc Chấm điểm</li>
          <li>Cấu hình thang điểm, thời gian làm bài</li>
          <li>Xem lại lịch sử thi của học sinh</li>
          <li>Hiển thị ngẫu nhiên câu hỏi và đáp án dựa trên đề gốc</li>
          <li>Bộ đếm ngược thời gian làm bài, tự động thu bài khi hết giờ</li>
      </ul>
</div>
</div>
