<div class="alert alert-primary" role="alert">
    <h4>
            ĐĂNG KÝ TÀI KHOẢN
    </h4>
    <hr style="margin: 0px 0px 0px 4.5%;border-color: lightgrey;width: 90%;">
</div>
    <div *ngIf="hidden" class="align-center" style="width: 50%; margin: 0px auto;">
        <h4>Thông tin tài khoản</h4>
        <form #formdangki="ngForm" (ngSubmit)="submit(formdangki)">

            <div class="form-group">
                <label for="inputEmail4">Full Name</label>  
                <input type="text" class="form-control" [(ngModel)]='formdk.fullname' name="fullname" placeholder="Họ tên đầy đủ">
                    <label for="text">Tên đăng nhập</label>  
                    <input type="text" class="form-control" [(ngModel)]='formdk.username' name="username"  placeholder="Tên đăng nhập">
                    <label for="inputEmail4">Giới tính</label>
                    <input type="radio" [(ngModel)]='formdk.gender' name="gender" value="true">Nam
                    <input type="radio" [(ngModel)]='formdk.gender' name="gender" value="false">Nữ 
                    <input type="text" class="form-control" [(ngModel)]='formdk.email'  placeholder="Nhập email" name="email" style="margin-bottom: 17px">
                    <input type="password" class="form-control" [(ngModel)]='formdk.password'  placeholder="Nhập password" name="password" style="margin-bottom: 17px">
                    <input type="password" class="form-control"  placeholder="Nhập lại password" name="password" style="margin-bottom: 17px">
                <div class="bt">
                    <input type="date" class="form-control" [(ngModel)]='formdk.birthday' placeholder="Ngày sinh" name="birthday"
                        required>
                    <input type="submit" class="btn btn-success" value="ĐĂNG KÝ TÀI KHOẢN" name="ĐĂNG KÝ TÀI KHOẢN" >
                    <a href="https://www.facebook.com/">
                        <button type="button" class="btn btn-success"   value="ĐĂNG NHẬP BẰNG FACEBOOK" style="margin:17px 20px;">
                            ĐĂNG KÝ BẰNG FACEBOOK </button>                    
                    </a>
                </div>               
                <a [routerLink]="['/cotact']"> Cần hổ trợ ? </a>
            </div>                                                 
        </form>   
    </div> <!--end form-->
<div *ngIf="!hidden">
    <table class="table table-hover table-bodered">
      <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Gender</th>      
            <th>Email</th>
            <th>Password</th>
            <th>Birthday</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{formdk.fullname}}</td>
            <td>{{formdk.username}}</td>
            <td>{{formdk.gender}}</td>
            <td>{{formdk.email}}</td>
            <td>{{formdk.password}}</td>
            <td>{{formdk.birthday}}</td>
        </tr>
      </tbody>
    </table> 
    <button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary">Đăng Nhập</button>
  </div>



