<div class="row">
    <div class="col-3">
        <img  src="/assets/images/home.png">
        <h6>NGÂN HÀNG CÂU HỎI</h6>
        <p >
            Tạo ra các câu hỏi trắc nghiệm bao gồm text và hình ảnh, câu hỏi chọn một hoặc chọn nhiều. Các câu hỏi được nhóm theo chủ đề, độ khó hay các lớp thí sinh. Hỗ trợ nhập từng câu hoặc nhập hàng loạt từ file excel.
        </p>
    </div>
    <div class="col-3">
        <img  src="/assets/images/home1.png">
        <h6>HÌNH THÀNH ĐỢT THI</h6>
        <p>
                Công cụ trộn đề tự động từ ngân hàng câu hỏi với số lượng câu, cơ cấu lĩnh vực, mức độ khó được thiết lập sẵn.Tuỳ chọn cho thí sinh làm chung đề hay đề khác nhau. Đợt thi chỉ ra khoảng thời gian có thể thi, thời gian làm bài, mức độ đạt yêu cầu và gán cho thí sinh.
        </p>
    </div>
    <div class="col-3" >
        <img  src="/assets/images/home2.png">
        <h6>THI TRỰC TUYẾN</h6>
        <p>
                Hệ thống gửi email thông báo có đợt thi mới cho thí sinh. Thí sinh chủ động sắp xếp làm bài thi trong khoảng thời gian cho phép. Thí sinh thi trượt có thể thi lại nếu được người quản trị chấp nhận.
        </p>
    </div>
    <div class="col-3">
        <img  src="/assets/images/home3.png">
        <h6>KẾT QUẢ & PHÂN TÍCH</h6>
        <p>
                Hệ thống tự động chấm bài và thông báo kết quả chi tiết cho thí sinh. Những thí sinh đạt yêu cầu sẽ được in chứng chỉ thi đỗ. Đơn vị tổ chức thí có thể xem được báo cáo tổng hợp về đợt thi.
        </p>
    </div><hr style="border-color:red;margin: 0px;">
    <div class="row" id="images">
        <div class="col-4">
            <a href="#"><img src="/assets/images/tinhocduong.jpg" alt="Tin học đường"></a>
                <h4 class="d-flex justify-content-center">TIN HỌC ĐƯỜNG</h4>
                    <p>Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất.
                        Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất...
                    </p>
                        <a href=""><button class="btn btn-success" type="button">Xem thêm</button></a>
        </div>
        <div class="col-4">
            <a href="#"><img src="/assets/images/ingiaoduc.jpg" alt="Tin giáo dục"></a>
                <h4 class="d-flex justify-content-center">TIN GIÁO DỤC</h4>
                <p> Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất.
                    Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất...
                </p>
                        <a href=""><button class="btn btn-success" type="button">Xem thêm</button></a>
        </div>
        <div class="col-4">
            <a href="#"><img src="/assets/images/tintucnoibat.jpg" alt="Tin nổi bật"></a>
                <h4 class="d-flex justify-content-center">TIN NỔI BẬT</h4>
                    <p> Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất.
                        Đáp án các môn thi sẽ cập nhật nhanh và chính xác nhất...
                    </p>
                        <a href=""><button class="btn btn-success" type="button">Xem thêm</button></a>
        </div>
    </div> <!--end row-2-->

</div> <!--end row-1-->

<div class="row" id="r1" style="text-align: center !important;">
        <div class="col-3" style="margin-top: 15px;">  
            <img  src="/assets/images/home2.png">
                <h5 class="align-center">HIỆU QUẢ</h5>
                    <ul>
                        <li>Kho câu hỏi phủ kín các kiến thức cần trang bị được tích luỹ và tái sử dụng nhiều lần trở thành kho kiến thức chuyên môn nghiệp vụ của doanh nghiệp.</li>
                        <li>Sơ loại ứng viên trước khi vào vòng phỏng vấn, tiết kiệm chi phí tuyển dụng</li>
                        <li>Đào tạo nhân viên thông qua các bài test, tạo ra văn hoá bồi dưỡng kiến thức và sát hạch liên tục.</li>
                        <li>Đánh giá chính xác trình độ chuyên môn của nhân viên để phân loại, xếp hạng, xét lương</li>
                    </ul>
        </div>
        <div class="col-3" style="margin-bottom:15px;">
            <img  src="/assets/images/home1.png">
                <h5 class="align-center">NHANH CHÓNG</h5>
                    <ul>
                        <li>Mọi thứ đều thực hiện online, không cần giấy bút</li>
                        <li>Công cụ trộn đề, sinh đề, giao đề thi cho thí sinh hoàn toàn tự động, 5 phút để tạo xong một đợt thi cho hàng nghìn người.</li>
                        <li>Chấm thi tự động, chính xác tuyệt đối, biết kết quả ngay sau khi hoàn thành bài thi.</li>
                        <li>Giao diện đơn giản trực quan</li>
                    </ul>
        </div>
        <div class="col-3" style="margin-top: 15px;">
            <img  src="/assets/images/home3.png" >
                <h5 class="align-center">TIẾT KIỆM CHI PHÍ</h5>
                    <ul>
                        <li>Không cần đầu tư phần cứng, phần mềm, hệ thống mạng.</li>
                        <li>Không cần nhân sự vận hành.</li>
                        <li>Không cần nhân sự ra đề, chấm thi</li>
                        <li>Không cần giấy bút, in ấn, lưu trữ.</li>
                    </ul>
        </div>
    </div> <!--end row-3-->


